:host{
    .mat-icon{
      vertical-align: middle;
      margin-right: 20px;
    }
   }
   
   /*.profile-card{
     text-align: center;
     padding: 0 ;
     img{
       width: 100px;
       height: 100px;
       object-fit: cover;
       border-radius: 50%;
     }
   }*/
   h1{
     font-size: 40px;
     color: blue;
     background-color: #8f9cb5;
   }
   mat-nav-list{
     //background-color: darkgray;
   }
   
   